body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .column {
    margin: 0 20px;
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table td {
    border: 1px solid #999;
    padding: 10px;
    background-color: #DDD;
    cursor: pointer;
  }
  
  td.selected {
    background-color: #66B2FF;
    color: #FFF;
  }
  
  td.correct {
    background-color: yellow;
  }
  
  td.incorrect {
    background-color: red;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
  }
  